#root {
  min-height: 100svh;
  min-width: 100svw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: var(--bg-primary);
}

.header-container {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: var(--bg-header);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--text-primary);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25rem;
}

.header-theme-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
  position: relative;
}

.header-theme-container input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header-theme-container label {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
}

.header-theme-container label svg {
  display: block;
  width: 1rem;
  height: 1rem;
}

.header-theme-container label svg:hover {
  cursor: pointer;
}

.header-theme-container label span {
  display: block;
  color: var(--text-primary);
  font-feature-settings: 'liga' off, 'clig' off;

  font-family: "Nunito Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

main {
  width: 100%;
  height: 100%;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 3rem var(--spacing-700, 3.5rem) var(--spacing-800, 4rem);
  gap: 3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main::after {
  content: '';
  display: block;
}

.country-cards-container {
  width: 100%;
  display: grid;
  align-self: stretch;
  grid-template-columns: repeat(auto-fill, 16.5rem);
  justify-content: center;
  gap: var(--spacing-500, 2.5rem);
}

.country-card {
  display: flex;
  width: 16.5rem;
  height: 21rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0, 0);
  overflow: hidden;
  border-radius: 0.3125rem;
  background: var(--bg-secondary);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.10);
}

.country-card-image-container {
  width: 16.5rem;
  height: 10rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.country-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: middle;
}

.country-card-details {
  display: flex;
  width: 16.5rem;
  height: 11rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0, 0);
}

.country-stats {
  margin-top: 1.37rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  overflow: hidden;
}

.country-stats h2 {
  color: var(--text-primary);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Text Preset 3 - Nunito Sans ExtaBold - 18px - 145% Line Height - 0px Line Spacing */
  font-family: "Nunito Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 145%;
  /* 1.63125rem */
}

.country-stats p {
  color: var(--text-primary);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1rem;
}

.country-stats strong {
  font-weight: 600;
}