#root {
  min-height: 100svh;
  min-width: 100svw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: var(--bg-primary);
}

.header-container {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: var(--bg-header);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--text-primary);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25rem;
}

.header-theme-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
  position: relative;
}

.header-theme-container input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header-theme-container label {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
}

.header-theme-container label svg {
  display: block;
  width: 1rem;
  height: 1rem;
}

.header-theme-container label svg:hover {
  cursor: pointer;
}

.header-theme-container label span {
  display: block;
  color: var(--text-primary);
  font-feature-settings: 'liga' off, 'clig' off;

  font-family: "Nunito Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}