#root {
  min-height: 100svh;
  min-width: 100svw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: var(--bg-primary);
}

.header-container {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: var(--bg-header);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--text-primary);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25rem;
}

.header-theme-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
  position: relative;
}

.header-theme-container input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header-theme-container label {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
}

.header-theme-container label svg {
  display: block;
  width: 1rem;
  height: 1rem;
}

.header-theme-container label svg:hover {
  cursor: pointer;
}

.header-theme-container label span {
  display: block;
  color: var(--text-primary);
  font-feature-settings: 'liga' off, 'clig' off;

  font-family: "Nunito Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  padding: 0 var(--spacing-700, 3.5rem) var(--spacing-800, 4rem);
}

.country-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16.5rem);
  justify-items: start;
  align-items: center;
  align-self: stretch;
  gap: var(--spacing-500, 2.5rem);

}

.country-card {
  display: flex;
  width: 16.5rem;
  height: 21rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0, 0);
  overflow: hidden;
  border-radius: 0.3125rem;
  background: var(--colors-white, #FFF);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.10);
}

.country-card img {
  width: 16.5rem;
  height: 10rem;
}

.country-card-details {
  display: flex;
  width: 16.5rem;
  height: 21rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0, 0);
}

.country-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}