:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colors-white: #FFF;
  --colors-grey-50: #FCFCFC;
  --colors-blue-950: #202C36;
  --colors-blue-900: #2B3844;
  --colors-grey-400: #808080;
  --colors-grey-250: #C4C4C4;
  --colors-grey-300: #B2B2B2;

  --bg-header: var(--colors-white);
  --bg-primary: var(--colors-grey-50);
  --bg-secondary: var(--colors-white);
  --text-primary: var(--colors-blue-950);
  --text-secondary: var(--colors-grey-250);
  --icon-color: var(--colors-grey-300);
}

[data-theme="dark"] {
  --bg-header: var(--colors-blue-900);
  --bg-primary: var(--colors-blue-950);
  --bg-secondary: var(--colors-blue-900);
  --text-primary: var(--colors-white);
  --text-secondary: var(--colors-white);
  --icon-color: var(--colors-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  all: unset;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}